/*
 * Main Layout Template Styles
 *
 */

// Height of Header + Footer Components
$header-and-footer: 10.5rem;

.main-layout {
    margin: 0 auto;
    max-width: wrapper(SiteMaxWidth);
    padding: spacing(xxxl) spacing(l);
    // Sets minimum page height to viewport height - (Header + Footer) height to keep footer at bottom of page
    min-height: calc(100vh - #{$header-and-footer});
}
