/*
 * `eslint-plugin-jsx-a11y` (Included with Gatsby) Rules Configuration File
 *
 * For more info see: https://www.gatsbyjs.com/docs/conceptual/making-your-site-accessible/#linting-with-eslint-plugin-jsx-a11y
 */

{
    "extends": ["react-app", "plugin:jsx-a11y/recommended"],
    "plugins": ["jsx-a11y"],
    "rules": {
        "jsx-a11y/rule-name": "warn"
    }
}
