/*
 * Footer Styles
 *
 */

.footer {
    z-index: zlayer(Footer);
    background-color: brand-color(snow);
    border-top: border(default);
    width: 100%;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: wrapper(SiteMaxWidth);
        padding: spacing(m) spacing(l);
        margin: 0 auto;
    }

    &__text {
        margin: 0;
    }
}
