/*
 * Footer Styles
 *
 */

.footer {
    width: 100%;

    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: wrapper(SmallSiteMaxWidth);
        padding: spacing(s) spacing(l);
        margin: 0 auto;

        @media (min-width: breakpoint(s)) {
            max-width: wrapper(mediumSiteMaxWidth);
        }

        @media (min-width: breakpoint(m)) {
            max-width: wrapper(LargeSiteMaxWidth);
        }
    }

    &__text {
        margin: 0;
    }
}
