.social-icons {
    display: flex;
    justify-content: space-between;
    margin: spacing(l) 0 0 -4px;

    @media (min-width: breakpoint(s)) {
        max-width: 340px;
        margin-top: spacing(xxxxl);
    }

    a {
        svg {
            width: 36px;
            height: 36px;

            @media (min-width: breakpoint(s)) {
                width: 44px;
                height: 44px;
            }
        }

        &:hover,
        &:active,
        &.focus-visible {
            svg {
                border-radius: radius(rounded);
                background-image: linear-gradient(
                    -45deg,
                    #f11000c4,
                    #ee7300c4,
                    #ffe600c4,
                    #14eb00c4,
                    #007beec4,
                    #af01e4c4 100%
                );
                background-size: 100% 100%;
                padding: 2px;
            }
        }
    }
}

// TODO to add @media (prefers-color-scheme: light)
.dark-mode {
    .social-icons {
        a:hover,
        a:active,
        a.focus-visible {
            svg {
                fill: brand-color(dark-snow) !important;
            }

            border-color: brand-color(dark-midnight);
        }
    }
}
