/*
 * Footer Styles
 *
 */

.footer {
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: $wrapper-site-max-width;
    padding: $spacing-l;
    margin: 0 auto;

    @media (min-width: $breakpoint-s) {
      max-width: $wrapper-block-max-width;
    }

    @media (min-width: $breakpoint-m) {
      max-width: $wrapper-site-max-width;
    }
  }

  &__text {
    margin: auto 0;
    padding: 0;
  }
}
