/*
 * Global Dark Mode Styles
 *
 * light-mode / dark-mode set in template: layout component
 */

body {
    background-color: brand-color(snow);
    color: brand-color(midnight);
    transition: all transition(ease-in-out);

    &.light-mode {
        background-color: brand-color(snow);
        color: brand-color(midnight);
    }

    &.dark-mode {
        background-color: brand-color(dark-snow);
        color: brand-color(dark-midnight);

        a:hover,
        a:active,
        a.focus-visible {
            border-color: brand-color(dark-midnight);
            text-decoration: none;
        }

        a.focus-visible {
            outline: border(dark-focus);
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: brand-color(snow);
        color: brand-color(midnight);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: brand-color(dark-snow);
        color: brand-color(dark-midnight);

        a:hover,
        a:active,
        a.focus-visible {
            border-color: brand-color(dark-midnight);
            text-decoration: none;
        }

        a.focus-visible {
            outline: border(dark-focus);
        }
    }
}
