/*
 * Global Styles
 *
 */

// Set the root font-size for REMs
:root {
    font-size: 16px;
}

// Set Body Background Color
body {
    background-color: brand-color(snow);

    @media (prefers-color-scheme: dark) {
        background-color: brand-color(midnight);
    }
}
