/*
 * Skip Nav Link Styles
 *
 * Custom styling for the Reach UI 'skip-nav' component: https://reacttraining.com/reach-ui/skip-nav
 * Source code: https://github.com/reach/reach-ui/tree/master/packages/skip-nav
 */

[data-reach-skip-nav-link] {
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    transform: translateY(-100%);
    opacity: opacity(o0);
    transition: transform transition(ease-in-out),
        opacity transition(ease-in-out);
}

[data-reach-skip-nav-link] {
    &:focus {
        z-index: zlayer(SkipLink);
        position: fixed;
        overflow: hidden;
        left: spacing(s);
        width: auto;
        height: auto;
        clip: auto;
        padding: spacing(s);
        background-color: brand-color(snow);
        transform: translateY(spacing(s));
        opacity: opacity(o100);
    }

    &.focus-visible,
    &:hover {
        border-bottom: 0; // Override `border-bottom` set for links
        outline-offset: 0; // Override `outline-offset` value set in `src/10_styles/00_base-styles/_focus-visible`
    }
}
