/* reset + variables */
button {
	all: unset;
	--light-mode-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M12 16a4 4 0 1 0 0-8a4 4 0 0 0 0 8m0 2a6 6 0 1 0 0-12a6 6 0 0 0 0 12M11 0h2v4.062a8.079 8.079 0 0 0-2 0zM7.094 5.68L4.222 2.808L2.808 4.222L5.68 7.094A8.048 8.048 0 0 1 7.094 5.68M4.062 11H0v2h4.062a8.079 8.079 0 0 1 0-2m1.618 5.906l-2.872 2.872l1.414 1.414l2.872-2.872a8.048 8.048 0 0 1-1.414-1.414M11 19.938V24h2v-4.062a8.069 8.069 0 0 1-2 0m5.906-1.618l2.872 2.872l1.414-1.414l-2.872-2.872a8.048 8.048 0 0 1-1.414 1.414M19.938 13H24v-2h-4.062a8.069 8.069 0 0 1 0 2M18.32 7.094l2.872-2.872l-1.414-1.414l-2.872 2.872c.528.41 1.003.886 1.414 1.414' clip-rule='evenodd'/%3E%3C/svg%3E");
	--dark-mode-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M12.226 2.003a9.971 9.971 0 0 0-7.297 2.926c-3.905 3.905-3.905 10.237 0 14.142c3.905 3.905 10.237 3.905 14.142 0a9.972 9.972 0 0 0 2.926-7.297a10.037 10.037 0 0 0-.337-2.368a14.87 14.87 0 0 1-1.744 1.436c-1.351.949-2.733 1.563-3.986 1.842c-1.906.423-3.214.032-3.93-.684c-.716-.716-1.107-2.024-.684-3.93c.279-1.253.893-2.635 1.842-3.986c.414-.592.893-1.177 1.436-1.744a10.017 10.017 0 0 0-2.368-.337m5.43 15.654a7.964 7.964 0 0 0 2.251-4.438c-3.546 2.045-7.269 2.247-9.321.195c-2.052-2.052-1.85-5.775.195-9.321a8 8 0 1 0 6.876 13.564' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.button--dark-mode::before {
	content: "";
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	background-color: currentColor;
	fill: inherit;
	color: inherit;
}

html[data-theme="light"] .button--dark-mode::before {
	mask-image: var(--light-mode-svg);
	width: 17px;
	height: 17px;
	margin: 0 0 0 -1px;
}

html[data-theme="dark"] .button--dark-mode::before {
	mask-image: var(--dark-mode-svg);
	width: 18px;
	height: 18px;
	margin: 0 0 0 -2px;
}

/* applies to all versions */
.button--dark-mode,
html[data-theme="light"] .button--dark-mode,
html[data-theme="dark"] .button--dark-mode {
	display: flex;
	align-items: center;
	font-family: "IBM Plex Mono", monospace;
	font-weight: 600;
	transition: background-color 0.3s ease-in-out;
	outline-width: 2px;
	outline-offset: 2px;
	padding: 18px 18px 18px 16px;
	margin: 0;
}

/* Light mode */
html[data-theme="light"] .button--dark-mode {
	background-color: var(--brand-t);
	color: var(--brand-d);
}

html[data-theme="light"] .button--dark-mode:hover,
html[data-theme="light"] .button--dark-mode:focus,
html[data-theme="light"] .button--dark-mode:active {
	/* background-color: var(--brand-t-5); */
	background-color: #94fbda;
	color: var(--brand-d);
}

html[data-theme="light"] .button--dark-mode:focus-visible {
	outline-color: var(--brand-d);
}

/* Dark mode */

html[data-theme="dark"] .button--dark-mode {
	background-color: var(--brand-d-12);
	color: var(--brand-l-4);
}

html[data-theme="dark"] .button--dark-mode:hover,
html[data-theme="dark"] .button--dark-mode:focus,
html[data-theme="dark"] .button--dark-mode:active {
	background-color: var(--brand-d-11);
	color: var(--brand-l-2);
}

html[data-theme="dark"] .button--dark-mode:focus-visible {
	outline-color: var(--brand-l-2);
}
