/* reset */
button {
	all: unset;
}

.button--dark-mode::before,
html[data-theme="light"] .button--dark-mode::before {
	content: "";
	/* TODO: add darkmode svg as background-image */
	background-image: url();
	background-color: var(--brand-d);
	width: 16px;
	height: 16px;
	margin: 2px -2px 2px 2px;
}

html[data-theme="dark"] .button--dark-mode::before {
	background-color: var(--brand-t);
}

/* applies to all versions */
.button--dark-mode,
html[data-theme="light"] .button--dark-mode,
html[data-theme="dark"] .button--dark-mode {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 600;
	transition: background-color 0.3s ease-in-out;
	outline-width: 2px;
	outline-offset: 2px;
	padding: 1rem 0.6rem 1rem 0.4rem;
	margin: 0;
}

/* Light mode */
html[data-theme="light"] .button--dark-mode {
	background-color: var(--brand-t);
	color: var(--brand-d);
}

html[data-theme="light"] .button--dark-mode:hover,
html[data-theme="light"] .button--dark-mode:focus,
html[data-theme="light"] .button--dark-mode:active {
	background-color: var(--brand-t-5);
	color: var(--brand-d);
}

html[data-theme="light"] .button--dark-mode:focus-visible {
	outline-color: var(--brand-d);
}

/* Dark mode */

html[data-theme="dark"] .button--dark-mode {
	background-color: var(--brand-l-12);
	color: var(--brand-l-4);
}

html[data-theme="dark"] .button--dark-mode:hover,
html[data-theme="dark"] .button--dark-mode:focus,
html[data-theme="dark"] .button--dark-mode:active {
	background-color: var(--brand-l-11);
	color: var(--brand-l-2);
}

html[data-theme="dark"] .button--dark-mode:focus-visible {
	outline-color: var(--brand-l-2);
}
