/*
 * Figure Styles
 *
 */

.figure {
    width: 100%;

    &__image {
        border: border(default);
        box-shadow: spacing(s) spacing(s) 0 0 brand-color(midnight);
        width: 100%;
    }

    &.--maxWidth500 {
        max-width: 500px;
    }
}
