/*
 * Icon Styles
 *
 */

.icon {
    width: icon-size(regular);
    height: icon-size(regular);

    &.--small {
        width: icon-size(small);
        height: icon-size(small);
    }

    &.--large {
        width: icon-size(large);
        height: icon-size(large);
    }

    &.midnight {
        fill: brand-color(midnight);
    }

    &.snow {
        fill: brand-color(snow);
    }
}
