/*
 * Dark Mode Toggle Button Styles
 *
 */

.dark-mode-button {
    display: flex;
    justify-items: center;
    justify-content: center;
    color: brand-color(snow);
    font-family: typeface(sourcesans);
    font-size: font-size(cxxs);
    font-weight: font-weight(bold);
    background: brand-color(midnight);
    text-align: center;
    text-decoration: none;
    line-height: 1;
    border: 0;
    border-radius: radius(round);
    cursor: pointer;
    transition: background-color transition(ease-in-out);
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: spacing(s) spacing(m);
    margin: 0;

    .icon {
        fill: brand-color(snow);
        margin: auto spacing(xs) auto 0;
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1);
    }

    &:hover,
    &.focus-visible {
        color: brand-color(midnight);
        background: #ffe600c4;
        background-image: linear-gradient(
            -45deg,
            #f11000c4,
            #ee7300c4,
            #ffe600c4,
            #14eb00c4,
            #007beec4,
            #af01e4c4 100%
        );

        .icon {
            fill: brand-color(midnight);
        }
    }
}

.dark-mode {
    .dark-mode-button {
        color: brand-color(midnight);
        background: brand-color(dark-midnight);

        .icon {
            fill: brand-color(midnight);
        }

        &:hover,
        &.focus-visible {
            background: #ffe600c4;
            background-image: linear-gradient(
                -45deg,
                #f11000c4,
                #ee7300c4,
                #ffe600c4,
                #14eb00c4,
                #007beec4,
                #af01e4c4 100%
            );

            .icon {
                fill: brand-color(midnight);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .dark-mode {
        .dark-mode-button {
            color: brand-color(midnight);
            background: brand-color(dark-midnight);

            .icon {
                fill: brand-color(midnight);
            }

            &:hover,
            &.focus-visible {
                background: #ffe600c4;
                background-image: linear-gradient(
                    -45deg,
                    #f11000c4,
                    #ee7300c4,
                    #ffe600c4,
                    #14eb00c4,
                    #007beec4,
                    #af01e4c4 100%
                );

                .icon {
                    fill: brand-color(midnight);
                }
            }
        }
    }
}
