/*
 * Page Template Styles
 *
 */

.page-template {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &__main {
    text-align: center;
    margin: auto;
    max-width: $wrapper-site-max-width;
    padding: $spacing-xxxl $spacing-l;

    // @media (min-width: $breakpoint-s) {
    //   max-width: $wrapper-block-max-width;
    // }

    // @media (min-width: $breakpoint-m) {
    //   display: flex;
    //   max-width: $wrapper-block-max-width;
    // }
  }
}
