.dark-mode-switch {
    position: relative;
    width: 70px;
    height: 20px;
    margin: auto 0;
    padding-bottom: 2px;

    &__label {
        display: flex;
        background: brand-color(midnight);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin: auto;
    }

    &__input {
        opacity: 0;
        border: 0;
        height: calc(100% + 20px);
        width: 100%;
        margin: -10px auto;
        background: transparent;
        position: absolute;
        cursor: pointer;
        z-index: 1;

        ~ .dark-mode-switch__toggle:before {
            content: "☀️";
            position: absolute;
            left: 0;
            top: -11px;
            font-size: 22px;
            transition: all transition(ease-in-out);
            width: 40px;
            height: 40px;
            background: #9ccbf6;
            border-radius: 50%;
            padding: 1px 0 0 3px;
            border: solid 2px brand-color(snow);
            box-shadow: spacing(xxxxs) spacing(xxxxs) spacing(xxs) spacing(xxs)
                brand-color(midnight);
        }

        &:checked {
            ~ .dark-mode-switch__toggle:before {
                content: "🌙";
                left: 40%;
                background: #302c35;
            }
        }

        &.focus-visible {
            ~ label {
                outline: border(focus);
                outline-offset: spacing(s);
            }
        }
    }
}

.dark-mode {
    .dark-mode-switch {
        &__label {
            background: brand-color(dark-midnight);
        }

        &__input {
            &.focus-visible {
                ~ label {
                    outline: border(dark-focus);
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .dark-mode-switch {
        &__input {
            ~ .dark-mode-switch__toggle:before {
                content: "🌙";
                background: #302c35;
            }

            &:checked {
                ~ .dark-mode-switch__toggle:before {
                    content: "☀️";
                    background: #9ccbf6;
                }
            }
        }
    }
}
