/*
 * Breakpoint Design Tokens
 *
 */

// Breakpoint Values
// These values should be updated according to your design and not set according to device widths
// Styles set before a breakpoint will apply from 0px - 379px and until overridden using the cascade using a mobile-first approach
$breakpoints: (
    xs: 380px,
    s: 500px,
    m: 950px,
    l: 1200px,
    xl: 1600px,
);

// Breakpoint Design Tokens Config
@function breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @return map-get($breakpoints, $name);
    }

    @error "The key #{$name} is not in the $breakpoints design token map";
    @return null;
}

// Breakpoint Design Token Usage With VS Code Code Snippets
// By default these media queries do not specify a specific feature, please change as required
// A full list of media features can be found at: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Media_features
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    bpxs     @media (min-width: breakpoint(xs)) {}
    bps      @media (min-width: breakpoint(s)) {}
    bpm      @media (min-width: breakpoint(m)) {}
    bpl      @media (min-width: breakpoint(l)) {}
    bpxl     @media (min-width: breakpoint(xl)) {}
*/
