/*
 * Avatar Styles
 *
 */

.avatar {
    max-width: 150px;
    border-radius: 50%;
    width: 100%;
    box-shadow: spacing(xxxxs) spacing(xxxxs) spacing(xxs) spacing(xxs)
        brand-color(midnight);
    margin: 0 0 spacing(l);
    padding: 0;

    // max-width: 200px;
    // margin: 0;
}
