/*
 * Avatar Styles
 *
 */

.avatar {
    $self: &;
    position: relative;
    display: flex;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    padding: 0;
    background-color: brand-color(snow);
    cursor: crosshair;
    margin: 0 spacing(xxxxl) * 1.1 0 -4px;
    transition: box-shadow transition(ease-in-out);

    &.focus-visible {
        outline: 0;
    }

    @media (min-width: breakpoint(m)) {
        min-width: 240px;
        min-height: 240px;
    }

    &__image {
        border-radius: 50%;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        box-shadow: spacing(xxxxs) spacing(xxxxs) spacing(xxs) spacing(xxs)
            brand-color(midnight);
        margin: auto;
        padding: 0;
        transition: box-shadow transition(ease-in-out);
    }

    &__speech-bubble {
        visibility: hidden;
        opacity: 0;
        width: 100px;
        background-color: brand-color(snow);
        color: brand-color(midnight);
        text-align: center;
        border: border(default);
        border-radius: radius(rounded);
        padding: spacing(xxxs) 0;
        position: absolute;
        z-index: 1;
        bottom: 85%;
        left: 85%;
        margin-left: -60px;
        transform: rotate(15deg);
        transition: opacity transition(ease-in-out);

        p {
            color: brand-color(midnight);
            font-weight: font-weight(bold);
            font-size: font-size(cs);
            padding: spacing(xxs);
            margin: 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 40%;
            margin-left: -15px;
            border-width: 15px;
            border-style: solid;
            border-color: brand-color(midnight) transparent transparent
                transparent;
            z-index: -1;
        }
    }

    &:hover,
    &:active,
    &.focus-visible {
        background-image: linear-gradient(
            -45deg,
            #f11000c4,
            #ee7300c4,
            #ffe600c4,
            #14eb00c4,
            #007beec4,
            #af01e4c4 100%
        );
        background-size: 100% 100%;
        padding: spacing(xxxs);
        box-shadow: spacing(xxxxs) spacing(xxxxs) spacing(xxs) spacing(xxs)
            brand-color(midnight);

        #{$self}__image {
            box-shadow: none;
        }

        #{$self}__speech-bubble {
            visibility: visible;
            opacity: 1;
        }
    }
}

.dark-mode {
    .avatar {
        &__speech-bubble {
            background-color: brand-color(dark-snow);
            color: brand-color(dark-midnight);
            border: solid border(dark-focus-color) 4px;
            box-shadow: spacing(xxxxs) spacing(xxxxs) spacing(xxxxs)
                spacing(xxxxs) brand-color(dark-snow);

            p {
                color: brand-color(dark-midnight);
            }

            &:before {
                border-color: border(dark-focus-color) transparent transparent
                    transparent;
            }
        }
    }
}
