/*
 * Avatar Styles
 *
 */

.avatar {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;

    @media (min-width: breakpoint(m)) {
        width: 400px;
        height: 400px;
        margin: 0 spacing(xxxxl) * 1.1 0 0;
    }

    &__image {
        border-radius: 50%;
        width: 100%;
        box-shadow: spacing(xxxxs) spacing(xxxxs) spacing(xxs) spacing(xxs)
            brand-color(midnight);
        margin: 0;
        padding: 0;
    }
}
