/*
 * Brand Color Design Tokens
 *
 */

// Brand Color Values
$brand-colors: (
    snow: #fcfcfc,
    midnight: #000013,
    dark-snow: #0f0f0f,
    dark-midnight: #b7b7b7,
);

// Brand Color Design Tokens Config
@function brand-color($name) {
    @if map-has-key($brand-colors, $name) {
        @return map-get($brand-colors, $name);
    }

    @error "The key #{$name} is not in the brand $brand-colors design token map";
    @return null;
}

// Brand Color Design Token Usage With VS Code Code Snippets
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    bcs  brand-color(snow)
    bcm  brand-color(midnight)
*/
