.contact-details {
    li {
        line-height: 34px;

        a {
            font-size: font-size(cxs);

            @media (min-width: breakpoint(s)) {
                font-size: font-size(cm);
            }
        }

        svg {
            width: 26px;
            height: 26px;
            margin: 20px 10px -6px 0;

            @media (min-width: breakpoint(s)) {
                width: 34px;
                height: 34px;
                margin: 20px 14px -7px 0;
            }
        }
    }
}
