/*
 * Layout Template Styles
 *
 */

// Height of Footer Component
$footer: 5rem;

.layout {
    display: grid;
    width: 100%;
    // Sets minimum page height to viewport height - (Header + Footer) height to keep footer at bottom of page
    min-height: calc(100vh - #{$footer});

    &__main {
        margin: auto;
        max-width: wrapper(SmallSiteMaxWidth);
        padding: spacing(xxxl) spacing(l);

        @media (min-width: breakpoint(xs)) {
            max-width: wrapper(mediumSiteMaxWidth);
        }

        @media (min-width: breakpoint(s)) {
            display: flex;
            max-width: wrapper(LargeSiteMaxWidth);
        }
    }
}
