/*
 * Typography Styles
 *
 */

// Headings
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements
// The <h1> – <h6> elements represent six levels of section headings with <h1> being
// the highest section level and <h6> is the lowest.
// You should only use one <h1> per page. However, using more than one will not result
// in an error, but using only one is seen as a best practice. Having a single top-level
// title is also arguably better for screenreader users, and for SEO.
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: typeface(rubik);
    font-weight: font-weight(bold);
    line-height: leading(regular);
    letter-spacing: tracking(normal);
    color: brand-color(midnight);
    margin-bottom: spacing(l);
}

h2,
h3,
h4,
h5,
h6 {
    margin: spacing(l) 0;
}

h1 {
    font-size: font-size(hxl);
}

h2 {
    font-size: font-size(hl);
}

h3 {
    font-size: font-size(hm);
}

h4 {
    font-size: font-size(hs);
}

h5 {
    font-size: font-size(hxs);
}

h6 {
    font-size: font-size(hxxs);
}

// Pargraphs
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p
// The <p> element represents a paragraph. Paragraphs are represented in visual media as
// blocks of text separated from adjacent blocks by blank lines and/or first-line indentation.
p {
    font-family: typeface(archivo);
    font-size: font-size(cm);
    font-weight: font-weight(regular);
    line-height: leading(regular);
    letter-spacing: tracking(normal);
    color: brand-color(midnight);
    padding-bottom: spacing(l);
}

// Anchor Links
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
// The <a> element with its href attribute, creates a hyperlink to web pages,
// files, email addresses, locations in the same page, or anything else a URL can address.
// Content within each <a> should indicate the link's destination.
// While using the Ally Design System Starter Kit you should create links
// either using the `InLink` for internal links or the `ExLink` for external links.
a,
a:link,
a:visited {
    font-family: typeface(archivo);
    font-size: font-size(cm);
    font-weight: font-weight(bold);
    line-height: leading(regular);
    letter-spacing: tracking(normal);
    color: brand-color(midnight);
    text-decoration: none;
    border-bottom: border(default);

    &:hover,
    &:active,
    &.focus-visible {
        background: brand-color(gold);
        text-decoration: none;
    }
}

// Unordered and Ordered Lists
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul
// The <ul> element represents an unordered list of items, typically rendered as a bulleted list.
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol
// The <ol> element represents an ordered list of items — typically rendered as a numbered list.
ul,
ol {
    margin: spacing(xl) 0;
    padding-left: spacing(xxxxl);

    li {
        margin: spacing(xxs) 0;
        font-size: font-size(cm);
        font-weight: font-weight(bold);
    }
}

// Captions
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption
// The <figcaption> element represents a caption or legend describing
// the rest of the contents of its parent <figure> element.
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption
// The <caption> element specifies the caption (or title) of a table.
figcaption,
caption {
    font-size: font-size(cs);
    font-weight: font-weight(bold);
    padding: spacing(l) spacing(xxs) spacing(xl);
    color: brand-color(midnight);
    text-align: right;
}

// Microcopy
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small
// The <small> element represents side-comments and small print, like copyright and legal text,
// independent of its styled presentation.
small {
    font-size: font-size(cxs);
    font-weight: font-weight(bold);
    color: brand-color(midnight);
}

// Emphasis
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em
// The <em> element is for words that have a stressed emphasis compared to surrounding text,
// which is often limited to a word or words of a sentence and affects the meaning of the sentence itself.
em {
    font-size: font-size(cm);
    font-weight: font-weight(bold);
    font-style: italic;
    color: brand-color(midnight);
}

// Idiomatic Text
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i
// The <i> element represents a range of text that is set off from the normal text
// for some reason, such as idiomatic text, technical terms or taxonomical designations.
i {
    font-style: italic;
    color: brand-color(midnight);
}

// Strong Importance
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong
// The <strong> element indicates that its contents has a strong importance, seriousness, or urgency.
strong {
    font-weight: font-weight(bold);
    color: brand-color(midnight);
}

// Strikethrough
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s
// The <s> element renders text with a strikethrough, or a line through it. Use the <s> element to represent
// things that are no longer relevant or no longer accurate. However, <s> is not appropriate when indicating
// document edits; for that, use the <del> and <ins> elements, as appropriate.
s {
    text-decoration: line-through;
}

// Highlighting
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark
// The <mark> element represents text which is marked or highlighted for reference or notation purposes,
// due to the marked passage's relevance or importance in the enclosing context.
// Accessibility Concerns
// https://developer.paciellogroup.com/blog/2017/12/short-note-on-making-your-mark-more-accessible
// The presence of the mark element is not announced by most screen reading technology in its default configuration.
// It can be made to be announced using a span with the .sr-only class at the start and end of the highlighted text.
// ie: <mark><span className="sr-only"> [highlight starts] </span> Highlighed Text <span className="sr-only"> [highlight ends] </span><mark>
mark {
    background-color: brand-color(gold);
    color: brand-color(midnight);
}

// Quotation
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q
// The <q> element indicates that the enclosed text is a short inline quotation.
// Most modern browsers implement this by surrounding the text in quotation marks and
// a URL for the source of the quotation may be given using the cite attribute.
q {
    font-style: italic;
    color: brand-color(midnight);
}

// Block Quotations
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote
// The <blockquote> element indicates that the enclosed text is an extended quotation.
// Usually, this is rendered visually by indentation and a URL for the source of the quotation
// may be given using the cite attribute, while a text representation of the source can be given
// using the <cite> element.
blockquote {
    margin: spacing(xxxl) 0;

    p {
        font-size: font-size(cm);
        color: brand-color(midnight);
        line-height: leading(regular);
        font-weight: font-weight(bold);
        padding: spacing(xl) spacing(xxl);
        border: border(default);
        border-radius: radius(square);
        box-shadow: spacing(s) spacing(s) 0 0 brand-color(midnight);
        background: brand-color(gold);
    }

    footer {
        font-size: font-size(cm);
        color: brand-color(midnight);
        font-weight: font-weight(bold);
        padding: spacing(l) spacing(xxs) spacing(xl);
        text-align: right;
    }
}

// Citations
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite
// The <cite> element is used to describe a reference to a cited creative work, and must include
// the title of that work. The reference may be in an abbreviated form according to context-appropriate
// conventions related to citation metadata.
cite {
    font-style: italic;
}

// Abbreviations
// The <abbr> element represents an abbreviation or acronym; the title attribute provides an expansion or
// description for the abbreviation. If present, the title must contain the full description and nothing else.
abbr {
    font-style: italic;
    text-decoration: none;
    border-bottom: dotted brand-color(midnight) 3px;
    cursor: help;
}

// Definitions
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dfn
// The <dfn> element is used to indicate the term being defined within the context of a definition phrase or sentence.
// The <p> element, the <dt>/<dd> pairing, or the <section> element which is the nearest ancestor of the <dfn> is
// considered to be the definition of the term.
dfn {
    font-size: font-size(cm);
    font-weight: font-weight(bold);
    font-style: italic;
    color: brand-color(midnight);
}

// Inline Code
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code
// The <code> element displays its contents styled in a fashion intended to indicate that the text is a short fragment of
// computer code. By default, the content text is displayed using the user agent's default monospace font.
code {
    color: brand-color(snow);
    font-size: font-size(cs);
    font-weight: font-weight(bold);
    background-color: brand-color(midnight);
    border-radius: radius(square);
    font-family: typeface(mono);
}

// Preformatted Text (Code Blocks)
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre
// The <pre> element represents preformatted text which is to be presented exactly as written in the HTML file.
// The text is typically rendered using monospace font and is used wrapped around <code> to show a code block.
pre {
    display: block;
    color: brand-color(snow);
    font-size: font-size(cm);
    font-weight: font-weight(
        bold
    ) !important; // Important so it overrides Storybook styling
    background-color: brand-color(midnight);
    border-radius: radius(square);
    font-family: typeface(mono);
    padding: spacing(s);
    margin: 0 0 spacing(xl);
}

// Time
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time
// The <time> element represents a specific period in time. It may include the datetime attribute to translate dates into
// machine-readable format, allowing for better search engine results or custom features such as reminders.
time {
    font-family: typeface(archivo);
    font-size: font-size(cm);
    font-weight: font-weight(bold);
    line-height: leading(regular);
    letter-spacing: tracking(normal);
    color: brand-color(midnight);
}

// Keyboard Input
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
// The <kbd> element represents inline text denoting textual user input from a keyboard, voice input, or any other text entry device.
// By convention, the user agent defaults to rendering the contents of a <kbd> element using its default monospace font, although
// this is not mandated by the HTML standard.
kbd {
    display: inline-block;
    font-family: typeface(mono);
    font-size: font-size(cm);
    color: brand-color(midnight);
    font-weight: font-weight(bold);
    line-height: 1;
    background-color: shade(brand-color(snow), s20);
    border-radius: radius(rounded);
    border: solid brand-color(midnight) 1px;
    box-shadow: 0 spacing(xxxxs) spacing(xxxxs) tint(brand-color(midnight), t20),
        0 spacing(xxxs) 0 0 shade(brand-color(snow), s20) inset;
    padding: spacing(xxxs) spacing(xxs);
    white-space: nowrap;
}

// Sample Output
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/samp
// The <samp> element is used to enclose inline text which represents sample (or quoted) output from a
// computer program. Its contents are typically rendered using the browser's default monospaced font.
samp {
    display: block;
    color: brand-color(snow);
    font-size: font-size(cm);
    font-weight: font-weight(bold);
    background-color: brand-color(midnight);
    border-radius: radius(square);
    font-family: typeface(mono);
    padding: spacing(m);
    margin: 0 0 spacing(xl);
}

// Unarticulated Annotation
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/u
// The <u> element represents inline text which should be rendered in a way that indicates that it has a non-textual
// annotation. This is rendered by default as a simple solid underline, but may be altered using CSS.
// This element used to be called the "Underline" element in older versions of HTML, and is still sometimes misused
// in this way. To underline text, you should instead apply a style that includes the CSS text-decoration property set to underline.
u {
    font-style: italic;
    text-decoration: none;
    border-bottom: border(error);
}

// Variable
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/var
// The <var> element represents the name of a variable in a mathematical expression or a programming context.
// It's typically presented using an italicized version of the current typeface, although that behavior is browser-dependent.
var {
    font-size: font-size(cm);
    font-weight: font-weight(bold);
    font-style: italic;
    color: brand-color(midnight);
}

// Contact Address
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address
// The <address> element indicates that the enclosed HTML provides contact information for a person or people,
// or for an organization. It may include any type of contact information that is needed, such as a physical address, URL,
// email address, phone number, social media handle, geographic coordinates, and so forth.
// It used to be the case that an <address> element was only supposed to be used to represent the contact information of the
// document's author, however, its definition has since been updated so it can now be used to mark up arbitrary addresses.
address {
    font-style: italic;
    padding-bottom: spacing(l);

    p {
        padding-bottom: spacing(xxs);
    }
}

// Deleted / Inserted Text
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins
// The <del> element represents a range of text that has been deleted from a document. This can be used when rendering "track changes"
// or source code diff information, for example.
// The <ins> element can be used for the opposite purpose: to indicate text that has been added to the document.
del,
ins {
    text-decoration: line-through;
    background-color: tint(action-color(error), t60);
    color: brand-color(midnight);
    font-weight: font-weight(bold);
    padding: spacing(xxxxs) spacing(xxs);
}

ins {
    text-decoration: none;
    background-color: tint(action-color(success), t60);
}

// Thematic Break (Horizontal Rule)
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr
// The <hr> element represents a thematic break between paragraph-level elements: for example, a change of scene in a story,
// or a shift of topic within a section.
// Historically, this has been presented as a horizontal rule or line. While it may still be displayed as a horizontal rule
// in visual browsers, this element is now defined in semantic terms, rather than presentational terms, so if you wish to draw
// a horizontal line, you should do so using appropriate CSS.
hr {
    border: none;
    border-top: border(default);
    padding-bottom: spacing(l);
}
